{% extends "base.html" %}

{% block title %}Reestablecer contraseña{% endblock %}

{% block h1 %}SENDEROS{% endblock %}

{% block main %}
{% block barra_busqueda %}
{% endblock barra_busqueda %}

    {% load static %}

    <main id="mainRegistrate">

        <h2 class="titulo">Nueva contraseña</h2>

		{% if validlink %}
		
		<form method="post">
			{% csrf_token %}
			{{ form.new_password1.errors }}
			<p><label for="id_new_password1">Nueva contraseña: </label>{{ form.new_password1 }}</p>

			{{ form.new_password2.errors }}
			<p><label for="id_new_password2">Confirmar contraseña:</label>{{ form.new_password2 }}</p>
			<p><input type="submit" value="Cambiar contraseña"></p>
		</form>

		{% else %}

			<p>ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</p>

		{% endif %}
        
    </main>

{% endblock %}