{% extends 'base.html' %}
{% block title %}Crear Categoria{% endblock %}
    {% block main %}
    			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="{% url 'home' %}" id="logo">SENDEROS</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="{% url 'home' %}">Inicio</a></li>
								<li>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'ver_perfil' %}">Mi Cuenta</a>
									<ul>
										<li><a href="{% url 'ver_perfil' %}">Ver Perfil</a></li>
										<li><a href="{% url 'logout' %}">Salir</a></li>
										
                                        {% if user.is_staff %}
										<li>
											<a href="#">Administracion</a>
											<ul>
												<li><a href="{% url 'crear_post' %}">Crear Post</a></li>
												<li><a href="{% url 'posteos' %}">Ver Posts</a></li>
												<li><a href="{% url 'ver_todos' %}">Ver Mensajes</a></li>

											</ul>
										</li>
                                        {% else %}
                                        <li></li>
                                        {% endif %}
                                        <li></li>
										
									</ul>
                                    
                                    {% else %}
									<a href="{% url 'login' %}">Entrar</a>
									{% endif %}
								</li>
								{% if user.is_authenticated %}
								{% else %}
								<li><a href="{% url 'registrate' %}">Registrate</a></li>
								{% endif %}
								<li><a href="{% url 'contacto' %}">Contacto</a></li>
								<li><a href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
								<li><a href="{% url 'posteos' %}">Ver Posts</a></li>
								
							</ul>
						</nav>

				</div>
    {% load static %}
    <div class="container">
        <div class="card">
            <form method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}
                    <div class="card" >
                        <h5 class= "card-header">Posteo</h5>
                        <div class="card-body">
                            {{categoria.as_p}}
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <a href="{% url 'crear_post' %}" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}