/* #topbar {
    background: url(../img/topbar.jpg) no-repeat;
    height: 37px;
}

.topbar {
    color: #E3F6FC;
    display: block;
    float: left;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-decoration: none;
    height: 27px;
} */
*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

#topbar {
    background:rgb(19, 18, 18);
    justify-content: end;
    height: 37px;
    
}
#topbar li {
	display: inline;
    justify-content: end;
}
#topbar ul {
	display: block;
	padding-left: 450px;
	padding-top: 5px;
	padding-right: 10px;
    
}
#topbar a {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
    
}
#card-body {
    justify-content: center;

}


#row panels-row {
    width: 100%;
    margin: 0 auto;
    display: table-column;
    justify-content: center; /* for centering 3 blocks in the center */
    /* justify-content: space-between; for space in between */ 
  }

.block {
    width: 100px;
    display: table-column;
  }

.boxes > div{
    width: 100px;
    height:100px;
    display:inline-block;
    
    background-color: red;
    margin-right: 6px;
}
