{% extends 'base.html' %}
{% block main %}

<div class="container">
    <div class="card" align="center">
        <div class="row">
            <form method="POST" enctype="multipart/form-data" align="center">
                {% csrf_token %}
                    <div class="card" >
                        <h5 class= "card-header">Contactanos!</h5>
                        <div class="card-body">
                            {{contactoForm}}
                            <br>
                            <button type="submit" id="btnEnviar" class="btn btn-success">Enviar</button>
                            <a href="{% url 'home' %}" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
            {{ mensaje }}
        </div>
    </div>
</div>
{% endblock %}