{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block main %}
			<!-- Header -->
            <div id="header">

                <!-- Logo -->
                    <h1><a href="{% url 'home' %}" id="logo">SENDEROS</a></h1>

                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="{% url 'home' %}">Inicio</a></li>
                            <li class="current">
                                {% if user.is_authenticated %}
                                <a href="{% url 'ver_perfil' %}">Mi Cuenta</a>
                                <ul>
                                    <li><a href="{% url 'ver_perfil' %}">Ver Perfil</a></li>
                                    <li><a href="{% url 'logout' %}">Salir</a></li>
                                    
                                    {% if user.is_staff %}
                                    <li>
                                        <a href="#">Administracion</a>
                                        <ul>
                                            <li><a href="{% url 'crear_post' %}">Crear Post</a></li>
                                            <li><a href="{% url 'posteos' %}">Ver Posts</a></li>
                                            <li><a href="{% url 'ver_todos' %}">Ver Mensajes</a></li>

                                        </ul>
                                    </li>
                                    
                                    {% else %}
                                    <li></li>
                                    {% endif %}
                                    <li></li>
                                </ul>
                                
                                
                                {% else %}
                                <a href="{% url 'login' %}">Entrar</a>
                                {% endif %}
                            </li>
                            {% if user.is_authenticated %}
                            {% else %}
                            <li><a href="{% url 'registrate' %}">Registrate</a></li>
                            {% endif %}
                            <li><a href="{% url 'contacto' %}">Contacto</a></li>
                            <li><a href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
                            <li><a href="{% url 'posteos' %}">Ver Posts</a></li>
                            
                        </ul>
                    </nav>

            </div>
{% block barra_busqueda %}
{% endblock barra_busqueda %}

    {% load static %}

    <div class="container"  align="center">
        <div class="col-12">
            <div class="card" align="center">
                <h2 class="card-header" align="center" >Perfil de {{user.username}}</h2>
                <div class="card-body"  align="center">
                    <div id="iconUsuarioContainer" align="center">
                        <img id="iconUserImg" src="{% static 'img/iconUsuario.png' %}" alt="iconUsuario">
                    </div>
        
                    <p><b>Usuario:</b> {{ user.username }}</p>
                    <p><b>Email:</b> {{ user.email }}</p>
                    <p><b>Nombre:</b> {{ user.first_name }}</p>
                    <p><b>Apellido:</b> {{ user.last_name }}</p>
                    <p><b>Provincia:</b> {{ user.provincia }}</p>
                    <p><b>Ciudad:</b> {{ user.ciudad }}</p>
        
                    <p><b>Descripción:</b>
                        {% if user.descripcion_propia != None %}
                            {{ user.descripcion_propia }}
                        {% else %}
                            Sin especificar
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div>
            <a href="{% url 'editar_perfil' user.id %}" class="btn btn-success">Editar Perfil</a>
        </div>

    </div >

{% endblock %}
